.chatPage{
    padding-bottom: 50px;
}


.chatContainer{
    width: 40%;

    position: fixed; /* Фиксированное позиционирование для формы */
    bottom: 0; /* Привязываем к нижней части экрана */
    box-sizing: border-box;
    border: 2px solid black;
}


.chat{
    padding: 6px 0 6px 10px;
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;

    cursor: pointer;
    border-radius: 10px;
    transition: .1s linear;
}
.chat:hover{
    background-color: #d5d6f6;
}

.chatImg{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.span{
    display: inline-block;
    max-width: 400px;

    padding: 4px; 
    margin-bottom: 6px;

    background-Color: white;
    border-radius: 8px;
}

.form { 
    display: flex; 
    justify-content: center;
    gap:20px; 
    align-items: center;

}

.input{
    padding-left: 10px;
    width: 100%;
    height: 36px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.button{
    border-radius: 50%;
    width: 48px;
    height: 48px;

    border: none;
      
}
.button__img{
    width: 24px;
}
.message__box{
    display: flex;
    align-items: center;
    gap:6px;
}

.chatHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatHeader__btn{
    padding: 5px 10px;

    border-radius: 4px;
    background-color: #BBA2F5;

    cursor: pointer;

    border: none;
    outline: none;
}

