*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C5C6F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
    min-height: 100vh;
    width: 40%;
    /* margin: 0 auto; */
    border: 2px solid black;
}


.avatar__img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.main { 
  padding-top: 10px;

  display: flex; 
  justify-content: center;
  gap: 16px;
  border: 5px solid black; 
  width: 100%; /* Или фиксированная ширина, если необходимо */
  min-height: 100vh; /* Для центрирования по вертикали */
  box-sizing: border-box; 
}

